<!DOCTYPE html>

{% extends 'base.html' %}

<!-- Block Title -->
{% block title %}
Resetear clave
{% endblock %}

<!-- Block Herader -->
{% block header %}
{% include 'navbar.html' %}
{% endblock %}

<!-- Block Content -->
{% block content %}
<div class="row mt-5">
	<div class="col col-md-6 offset-md-3">
		<div class="card">
			<div class="card-header">
				Restablecer Contraseña
			</div>
			<div class="card-body">
				<h5 class="card-title">Ingrese una nueva contraseña</h5>
				<p class="card-text">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
				<form method="post">
					{% csrf_token %}
					
					{% if form.new_password2.errors %}
					<div class="alert alert-danger alert-dismissible fade show">{{ form.new_password2.errors }}</div>
					{% endif %}
					<div class="form-group mb-3">
						<label for="password1">Contraseña nueva</label>
						<input type="password" class="form-control" id="password1" name="new_password1" placeholder="Nueva contraseña...">
					</div>
					<div class="form-group mb-3">
						<label for="password2">Confirme contraseña</label>
						<input type="password" class="form-control" id="password2" name="new_password2" placeholder="Confirme contraseña...">
					</div>
					<div class="d-grid gap-2 d-md-inline">
						<button type="submit" class="btn btn-primary my-3">Cambiar contraseña</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

<!-- Block Footer -->
{% block footer %}
{% endblock %}

<!-- 
	
<div class="row justify-content-center mt-5">
	<div class="w-50">
		<div class="card">
			<div class="card-header">
				Restablecer Contraseña
			</div>
			<div class="card-body">
				<h5 class="card-title">Ingrese una nueva contraseña</h5>
				<p class="card-text">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
				<form method="post">
					{% csrf_token %}
					
					{% if form.new_password2.errors %}
					<div class="alert alert-danger alert-dismissible fade show">{{ form.new_password2.errors }}</div>
					{% endif %}
					<div class="form-group mb-3">
						<label for="password1">Contraseña nueva</label>
						<input type="password" class="form-control" id="password1" name="new_password1" placeholder="Nueva contraseña...">
					</div>
					<div class="form-group mb-3">
						<label for="password2">Confirme contraseña</label>
						<input type="password" class="form-control" id="password2" name="new_password2" placeholder="Confirme contraseña...">
					</div>
					<div class="d-grid gap-2 d-md-inline">
						<button type="submit" class="btn btn-primary my-3">Cambiar contraseña</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
	
 -->
