<!DOCTYPE html>

{% extends 'base.html' %}

<!-- Block Title -->
{% block title %}
Resetear clave
{% endblock %}

<!-- Block Herader -->
{% block header %}
{% include 'navbar.html' %}
{% endblock %}

<!-- Block Content -->
{% block content %}
<div class="row mt-5">
	<div class="col col-md-6 offset-md-3">
		<div class="card">
			<div class="card-header">
				Restablecer Contraseña
			</div>
			<div class="card-body">
				<h5 class="card-title">Restablecimiento de contraseña enviado</h5>
				<p class="card-text">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si
					existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
					Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró
					y verifique su carpeta de correo no deseado.
				</p>
			</div>
			<div class="d-flex justify-content-evenly">
				<a class="btn btn-primary w-100 m-2" href="{% url 'iniciar_sesion' %}">Ok</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

<!-- Block Footer -->
{% block footer %}
{% endblock %}


<!-- 
	
<div class="row justify-content-center mt-5">
	<div class="w-50">
		<div class="card">
			<div class="card-header">
				Restablecer Contraseña
			</div>
			<div class="card-body">
				<h5 class="card-title">Restablecimiento de contraseña enviado</h5>
				<p class="card-text">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si
					existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
					Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró
					y verifique su carpeta de correo no deseado.
				</p>
			</div>
			<div class="d-flex justify-content-evenly">
				<a class="btn btn-primary w-100 m-2" href="{% url 'iniciar_sesion' %}">Ok</a>
			</div>
		</div>
	</div>
</div>

	
 -->