<!DOCTYPE html>

{% extends 'base.html' %}

<!-- Block Title -->
{% block title %}
Resetear clave
{% endblock %}

<!-- Block Herader -->
{% block header %}
{% include 'navbar.html' %}
{% endblock %}

<!-- Block Content -->
{% block content %}
<div class="row mt-5">
	<div class="col col-md-6 offset-md-3">
		<div class="card">
			<div class="card-header">
				Restablecer Contraseña
			</div>
			<div class="card-body">
				<h5 class="card-title">¿Olvidaste tu contraseña?</h5>
				<p class="card-text">Ingresa la dirección de correo asociada al usuario y te enviaremos las instrucciones para restablecerla.</p>
				<form method="post">
					{% csrf_token %}
					<label for="email">Correo electrónico</label>
					<input type="email" class="form-control form-control-sm" id="email" name="email">
					<div class="d-flex justify-content-evenly mt-3">
						<button type="submit" class="btn btn-primary w-50 m-1">Restablecer mi contraseña</button>
						<a href="{% url 'inicio' %}" class="btn btn-secondary w-50 m-1">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

<!-- Block Footer -->
{% block footer %}
{% endblock %}


<!-- 

<div class="row justify-content-center mt-5">
	<div class="w-50">
		<div class="card">
			<div class="card-header">
				Restablecer Contraseña
			</div>
			<div class="card-body">
				<h5 class="card-title">¿Olvidaste tu contraseña?</h5>
				<p class="card-text">Ingresa la dirección de correo asociada al usuario y te enviaremos las instrucciones para restablecerla.</p>
				<form method="post">
					{% csrf_token %}
					<label for="email">Correo electrónico</label>
					<input type="email" class="form-control form-control-sm" id="email" name="email">
					<div class="d-grid gap-2 d-md-inline">
						<button type="submit" class="btn btn-primary my-3">Restablecer mi contraseña</button>
						<a href="{% url 'inicio' %}" class="btn btn-secondary">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

 -->